*{
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
  box-sizing: border-box;
}
ol.pokemons{
  padding: 0;
  margin: 0;
  list-style: none;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
ol.pokemons li{
  margin: 0.5rem;
  padding: 1rem;
  background-color: rgb(27, 148, 27);
  color: white;
  border-radius: 1rem;
}
img{
max-width: 100%;
}
